@page "/avatar"

<PageTitle>Avatar</PageTitle>

<FluentLayout>
    <FluentHeader>
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <CircleImage Source="https://avatars.githubusercontent.com/u/16510416" />
            My Avatar Demo
        </FluentStack>
    </FluentHeader>
    <br />
    <p>
        The image/photo you see in the site header and in this page header was created using the 
        <span style="font-weight:bold">CircleImage</span> component. <br />
        The image source was the url for my <span style="font-weight:bold">
            <a href="https://avatars.githubusercontent.com/u/16510416" target="_blank">GitHub image</a>
        </span>
    </p>   
</FluentLayout>

@code {

}
