@page "/"
@using Marqdouj.FluentUI
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Theme Demo</h1>

<FluentStack Orientation="Orientation.Vertical">
    <FluentLabel>Theme Switch (Toggle Light/Dark)</FluentLabel>
    <ThemeSwitch />
</FluentStack>
