@page "/"
@using Marqdouj.FluentUI
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Theme Controls</h1>

<FluentStack Orientation="Orientation.Vertical">
    <FluentCard AreaRestricted="false">
        <FluentLabel>Theme Switch (Toggle Light/Dark)</FluentLabel>
        <ThemeSwitch />
    </FluentCard>

    <FluentCard AreaRestricted="false">
        <FluentLabel>Theme Mode (System/Light/Dark)</FluentLabel>
        <ThemeMode />
    </FluentCard>

    <FluentCard AreaRestricted="false">
        <FluentLabel>Theme Color (Office Color)</FluentLabel>
        <ThemeColor />
    </FluentCard>
</FluentStack>
